.about {
    width: 90%;
    margin: 0 auto;
}
.button {
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 25px;
    margin: 30px 30px 0 0;
    background-color: aquamarine;
    cursor: pointer;
}
.popp {
    font-size: 50px;
    font-weight: bold;
}
.text{
    text-indent: 50px
}
img.pic{
    width: 50%;
    margin-right: 20px;
}
.description2{
    display: flex;
   
}
.description2 p{
        justify-content: space-between; 
        padding-top: 0; 
}
 img.step{
    margin-top: 20px;
}
