.dropdown {
    position: relative;
  }
  
  .menu-dropdown {
    position: absolute;
    list-style-type: none;
    margin: 5px 0;
    padding: 0;
    border: 1px solid grey;
    width: 120px;
  }
  
  .menu-dropdown > li {
    margin: 0;
    background-color: rgb(245, 240, 240);
      }
  .menu-dropdown a {
    text-decoration: none;
    padding: 5px 10px 5px 10px;
  }
  .menu-dropdown > li:hover {
    background-color: lightgray;
  }
  
  .menu-dropdown > li > button {
    width: 100%;
    height: 100%;
    text-align: left;
    background: none;
    color: inherit;
    border: none;
    padding: 5px;
    margin: 0;
    font: inherit;
    cursor: pointer;
  }

