.history {
    width: 90%;
    margin: 0 auto;
    background-color: rgb(208, 232, 238);
}
.container-history {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.home img {
    width: 30px;
    padding: 20px;
}
